/* font-family: 'Quicksand', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
}

header {
  display: flex;
  width: 100%;
}

.nav {
  width: 100%;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0vh 1vh;
  background-color: #18A99C;
  z-index: 1;
}

.link {
  width: 30 vh;
  height: 15vh;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding: 4vw 4vw 2vw 4vw;
  color: whitesmoke;
  background: #65c6cf;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#homeNav {
  width: 200px;
  height: 100px;
}

#imgLogo {
  position: absolute;
  left: 30px;
  top: -45px;
  width: 250px;
  height: 230px;
  padding: 0px 0px;
}

#pikaImg {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 500px;
}

#pikaImg img {
  width: 100%;
  height: auto;
}

#pokedexNav:hover {
  background-color: #15464B;
  color: #ffffff;
  transition: 0.3s;
}

#rankingNav:hover {
  background-color: #15464B;
  color: #ffffff;
  transition: 0.3s;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 3.9rem;
  color: whitesmoke;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.30rem;
  color: whitesmoke;
}

#containerHome {
  padding: 25vh 10vh;
  background: rgb(25, 158, 163);
  background: linear-gradient(155deg, rgba(25, 158, 163, 1) 0%, rgba(21, 212, 129, 1) 100%);
}

#buttonPokedex {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  padding: 2vh 6vh;
  background: #65c6cf;
  border-radius: 20px;
}

#buttonPokedex:hover {
  background-color: #15464B;
  color: #ffffff;
  transition: 0.3s;
}

#containerPokedex {
  padding: 25vh 10vh;
  background: rgb(25, 158, 163);
  background: linear-gradient(155deg, rgba(25, 158, 163, 1) 0%, rgba(21, 212, 129, 1) 100%);
}

#filterOrder {
  display: flex;
  float: left;
}

#containerPokemon {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 4%;
  box-sizing: border-box;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  width: 100%;
}

.cardP {
  padding: 10px;
  margin: 15px;
  width: 160px;
  height: 195px;
  text-align: center;
  border-radius: 15px;
  background: whitesmoke;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.cardP:hover {
  background-color: #15464B;
  opacity: 50%;
  transition: 0.3s;
}

.pokeNumber {
  color: #888888;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.pokeName {
  color: #0f0f0f;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.pokeImg {
  width: 80%;
}

.selectorType {
  display: inline-block;
  width: 50px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  color: #0f0f0f;
  font-size: 0.8em;
  margin: 2px 15px;
  border-radius: 30px;
  outline: none;
  width: 180px;
  cursor: pointer;
  text-align: center;
}

#searchBar {
  width: 250px;
  height: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  color: #0f0f0f;
  font-size: 0.8em;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

::placeholder {
  color: #181818;
  opacity: 25%;
}

#containerRanking {
  padding: 20vh 10vh;
  background: rgb(25, 158, 163);
  background: linear-gradient(155deg, rgba(25, 158, 163, 1) 0%, rgba(21, 212, 129, 1) 100%);
}

#filterOrderR {
  display: flex;
  margin: 10px;
}

#tableTop {
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
}

.root {
  display: flex;
}

#tableOne {
  width: 80vh;
  height: 70vh;
  background-color: whitesmoke;
  border-radius: 30px;
}

.pokeNumber2 {
  color: #888888;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.pokeName2 {
  color: #0f0f0f;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.pokeImg2 {
  width: 8%;
}

.flex-root {
  flex-direction: row;
}

#footer {
  color: #0f0f0f;
  font-size: 1rem;
  opacity: 70%;
}
